<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Lista ciężarówek</title>
</head>
<body>
<h2>Lista ciężarówek</h2>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.delete-link').forEach(link => {
            link.addEventListener('click', event => {
                if (!confirm('Czy na pewno chcesz usunąć tę ciężarówkę?')) {
                    event.preventDefault();
                }
            });
        });
    });
</script>
<table>
    <tr>
        <th>Model</th>
        <th>Tablice rejestracyjne</th>
        <th>Akcje</th>
    </tr>
    <tr th:each="truck : ${trucks}">
        <td th:text="${truck.truckPlates}"></td>
        <td th:text="${truck.truckModel}"></td>
        <td>
            <a th:href="@{|/truck/details/${truck.truckId}|}">Szczegóły</a>
            <a th:href="@{|/truck/delete?id=${truck.truckId}|}" class="delete-link">Usuń</a>
        </td>
    </tr>
</table>

<p>
    <a href="/index.html">Wróć do strony głównej</a>
    <a href="/truck/add">Dodaj nową ciężarówkę</a>
</p>
</body>
</html>
