<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Lista ciężarówek</title>
</head>
<body>
<h2>Lista ciężarówek</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Tablice rejestracyjne</th>
    </tr>
    <tr th:each="truck : ${trucks}">
        <td><a th:href="@{/truck/get/{id}(id=${truck.truckId})}" th:text="${truck.truckId}"></a></td>
        <td th:text="${truck.truckPlates}"></td>
        <td th:text="${truck.truckModel}"></td>
    </tr>
</table>
<p>
    <a href="/truck/list">Wróć do listy pojazdów</a>
    <a href="/truck/add">Dodaj nową ciężarówkę</a>
</p>
</body>
</html>
