<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły załadunku</title>
</head>
<body>
<h1>Szczegóły załadunku</h1>

<div>
    <h2>Informacje szczegółowe</h2>
    <p><strong>ID:</strong> <span th:text="${loading.paletteId}"></span></p>
    <p><strong>Nazwa firmy:</strong> <span th:text="${loading.company.companyName}"></span></p>
    <p><strong>Ilość załadowanych palet:</strong> <span th:text="${loading.loadedPallets}"></span></p>
    <p><strong>Ilość palet wymienionych:</strong> <span th:text="${loading.exchangedPallets}"></span></p>
    <p><strong>Zwrócone palety:</strong> <span th:text="${loading.returnedPallets}"></span></p>
    <p><strong>Data załadunku:</strong> <span th:text="${loading.loadingDate}"></span></p>
    <p><strong>Numer referencyjny:</strong> <span th:text="${loading.loadingNumber}"></span></p>
    <p><strong>Status:</strong> <span th:text="${loading.status}"></span></p>
    <p><strong>Saldo palet z załadunku:</strong> <span th:text="${loading.saldoPallets()}"></span></p>
</div>

<a th:href="@{/loadings}" class="btn btn-primary">Wróć do listy załadunków</a>
</body>
</html>
